@media (max-width: 780px) {
  h1 {
    font-size: 35px;
  }
  .btn-button {
    text-align: center;
  }
}

@media (max-width: 574px) {
  header {
    height: 80px;
  }
  h1 {
    font-size: 30px;
    padding-top: 15px;
  }
  .container-videos {
    padding-left: 76px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 28px;
  }
  .container-videos {
    padding-left: 0px;
  }
}
